.thankyouheaderbg{ height:auto;}
.rightbox{float:right;  }
 .title{ margin-top:140px;}
.homelogo{ text-align:right; margin-top:20px;}


@media only screen and (min-width: 768px) and (max-width: 991px) {
 
.thankyouheaderbg{ height:auto; padding: 40px;}
.rightbox{float:right; }

.title{font-size:30px;  margin-top:20px;}

.homeheaderbg2{height:auto;}   
.form2{ margin: 0 auto; text-align:center; margin-bottom:20px; width:700px; margin-top:80px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: relative; }  
.content-close{ position: absolute; top: 0px; right: 0px;}
.formbox{ margin-top:40px;}


}

@media only screen and (max-width: 767px) {
	
.thankyouheaderbg{ height: auto; padding: 40px 0px;}
.rightbox{float:right; }
.title{font-size:22px;  margin-top:20px;}
.bs-wizard{ width:350px;}
.bs-wizard-stepnum { font-size:5px;}
.homelogo{ text-align:center; margin-top:20px;}  
.leftbox{ text-align: center;}  
.borde{ margin: 10px; width: calc(100% - 20px); height: calc(100% - 20px);}  
.homeheaderbg2{height:auto; width: 100%;}   
.form2{ margin: 0 auto; text-align:center; margin-bottom:20px; width:100%; margin-top:20px;  -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: relative; }  
.content-close{ position: absolute; top: 0px; right: 0px;}
.content-formbox{ margin:0px auto; padding: 10px 10px 35px; }
.photo{ width: 100%; }
.photo img{ width: 100%; }
.formbox{ width:100%; margin-top:40px;} 
.form-inline{
	width: calc(100% - 20px);
    margin: 0 auto;
}
   
  
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
 
.thankyouheaderbg{ height:auto;}
.rightbox{float:right;}
.title{font-size:30px;  margin-top:20px;}

 }
 
 @media only screen and (max-width: 540px) {
	.content-formbox{ border:0px; padding-top: 10px;}
 }