.thankyouheaderbg{ height:500px;}
.rightbox{float:right; padding-top:20px;margin-top:80px; }
 .title{ margin-top:140px;}
.homelogo{ text-align:right; margin-top:20px;}


@media only screen and (min-width: 768px) and (max-width: 991px) {
 
.thankyouheaderbg{ height:480px;}
.rightbox{float:right; padding-top:20px;margin-top:30px; }

.title{font-size:30px;  margin-top:20px;}

.homeheaderbg2{height:auto;}   
.form2{ margin: 0 auto; text-align:center; margin-bottom:20px; width:700px; margin-top:80px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: relative; }  
.content-close{ position: absolute; top: 0px; right: 0px;}
.formbox{ margin-top:40px;}


}

@media only screen and (max-width: 767px) {
	
.thankyouheaderbg{ height:600px;}
.rightbox{float:right; padding-top:20px;margin-top:30px; }
.title{font-size:22px;  margin-top:20px;}
.bs-wizard{ width:350px;}
.bs-wizard-stepnum { font-size:5px;}
.homelogo{ text-align:center; margin-top:20px;}  
.leftbox{ text-align: center;}  
  
 .homeheaderbg2{height:auto;}   
.form2{ margin: 0 auto; text-align:center; margin-bottom:20px; width:100%; margin-top:20px;  -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: relative; }  
.content-close{ position: absolute; top: 0px; right: 0px;}
.content-formbox{ margin:0px auto; }
.photo{ width: 100%; }
.photo img{ width: 100%; }
.formbox{ width:100%; margin-top:40px;} 
   
  
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
 
.thankyouheaderbg{ height:500px;}
.rightbox{float:right; padding-top:20px;margin-top:30px; }
.title{font-size:30px;  margin-top:20px;}

 }
 
 @media only screen and (max-width: 540px) {
	.content-formbox{ border:0px; padding-top: 10px;}
 }