/* CSS Document */
@font-face {
    font-family: "Museo";
    src: url("/assets/fonts/Museo\ 700.otf");
    src: url("/assets/fonts/Museo_Slab_500.otf");
}

body{margin:0px; padding:0px; background:#fff; color:#060506; font-family: 'Roboto', Helvetica, Arial, sans-serif; }



.homeheaderbg2{background:rgba(0, 0, 0, 0.5);width:100vw;height:100vh;position: absolute;top:0;left:0;}   
.form2{ position:relative; margin: 0 auto; text-align:center; margin-bottom:20px; width:945px; background:#fff; margin-top:60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}  
.content-close{ width: 100%; position: relative; height: 30px;}
.btn-close{ background-color: transparent; color:#3d3d3d; font-weight: bold; outline: none; border: none; position: absolute; right: 25px; top:10px; z-index: 999; }
.head-formbox{font-size: 2.8rem; letter-spacing: 1rem; font-weight: 600; z-index: 999; position: relative; }
.content-formbox{width:100%; max-width: 420px; margin: 0px auto; padding: 20px 30px 35px; z-index: 999; position: relative; }
.popup-title{font-family: "Museo"; font-size: 3rem; font-weight: 600; letter-spacing: 0.2rem; color:#025a77; line-height: normal; }
.popup-subtitle{font-family: 'Roboto', Helvetica, Arial, sans-serif; font-size: 1.6rem; color:#00293c;}
.lightblue { text-transform:uppercase; font-size: 1.4rem; width: 100%; background-color: #69ced7; color: #fff; font-weight: bold; margin-top: 16px; padding: 16px; border-radius: 0; letter-spacing: normal; border-radius: 4px; }
.lightblue:hover{ color:#fff; }
.emailbox2{ border: solid 1px #cdcdcd; border-radius: 4px; width: 100%; padding: 16px 30px; color: #818181; font-size: 1.3rem; margin-top: 16px;}
.photo{ width: 45%;}
.photo img{ width: 100%;}
.formbox{ width: 55%;}
.borde { position: absolute; width: calc(100% - 40px); height: calc(100% - 40px); top: 0; margin: 20px; border: 1px solid #00293c; left: 0; }




.thankyouheaderbg{
    background: url(/assets/banner-thank-you.jpg) top center no-repeat;
    background-attachment:scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container-fluid.thankyouheaderbg {
    height: 541px;
}

.thankyouheaderbg .rightbox{
    color:#3d3d3d;
    margin-top: 40px;
}

.title-thankyou{
    font-family: "Museo", Helvetica, Arial, sans-serif;
    font-size: 34px;
    font-weight: bold;
    line-height: 1.14;
    text-align: center;
    color: #025a77;
    margin-bottom: 2px;
}
.title2-thankyou{
    font-family: "Museo", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.71;
    text-align: center;
    color: #00293c;
    margin-bottom: 23px;
}
.subtitle-thankyou{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    color: #00293c;
    margin-bottom: 30px;
    padding: 0px 20px;
}

.form{ margin: 0 auto; text-align:center; margin-bottom:20px; padding-top:15px;}     
           
.emailbox{ border:1px solid #B93A0D; width:270px; padding:7px;color:#333333; }                                                                                                     

.share-link{ text-align: center; margin-bottom: 40px; }

.social-share{ text-align: center; }

.social-share a{ text-align: center; width:48px; display: inline-block; }

.input{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
    width:80%;
    padding:20px 28px;
    color:#818181;
    border:0px;
    background-color:#fff;
    border-radius: 6px 0px 0px 6px;
} 

.btn-copy{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    border-radius: 0px 5px 5px 0px;
    background-color: #69ced7;
    padding: 20px 0px;
    width: 20%;
    outline: none;
    border: none;
}                         
                                									 
.steps{ margin: 50px auto; }

.steps-header{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    color: #00293c;
    margin-bottom: 45px;
}

.step-title{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.45;
    text-align: center;
    color: #00293c;
    margin-top: 28px;
    margin-bottom: 20px;
}


.step-content, .step-extra-content{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #012b3a;
    margin: 20px 0;
}
.topbg{ background:#B28A35; height:40px;color:#fff; text-align:center; padding-top:8px;}                          
.step-content{
    margin-top: 20px;
}
.step-extra-content{
    text-align: left;
    margin: 0;
}

.concrete-wall-bg{
    background: url(/assets/concrete-wall-2.jpg) top center no-repeat;
    background-attachment:scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}  
.concrete-wall-bg .steps{
    margin: 55px auto;
}

img{ border:0px;}
       

.step-img{
    height: auto;
    width: 100%;
    max-width: 116px;
    max-height: 106px;
}   
@media (max-width:991px){
    .thankyouheaderbg{
        background-image: none;
        background-color: rgba(129, 129, 129, 0.1);  
    }
    .thankyouheaderbg .rightbox{
        margin-top: 80px;
    }
    .step {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
                align-items: center;
    } 
    .step-body{
        padding-left: 30px;
    }
    .step-title, .step-content{
        text-align: left;
    }
}
@media (max-width:550px){
    .thankyouheaderbg .rightbox{
        margin-top: 40px;
    }
}
@media (max-width:375px){
    .thankyouheaderbg .rightbox{
        margin-top: 0;
    }
}

.come-inside{
    background-color: rgba(129, 129, 129, 0.1);
    padding: 50px 15px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #3d3d3d;
}
.title-come-inside {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 3.79px;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.subtitle-come-inside {
    font-size: 1.9rem;
    letter-spacing: 2.9px;
    font-weight: bold;
    text-transform: uppercase;
}
.form-come-inside {
    margin-top: 30px;
}
.input.email-come-inside {
    max-width: 360px;
    width: 100%;
    border-radius: 6px;
    padding-left: 16px;
    outline: none;
    color: #818181;
}
.btn.lima.btn-send {
    max-width: 360px;
    border-radius: 6px;
    letter-spacing: 2px;
    text-transform: uppercase;
    outline: none;
    font-size:12px;
}	   
.container-fluid.footer {
    background-color: #4fd1a8;
    padding: 25px 15px;
}
.social-share-footer {
    margin-bottom: 0px;
}
.social-share-footer a {
    text-align: center;
    width: 60px;
    display: inline-block;
}
 
