/* CSS Document */


body{margin:0px; padding:0px; background:#fff; color:#060506; font-family: 'Roboto', Helvetica, Arial, sans-serif; }



.homeheaderbg2{background:rgba(0, 0, 0, 0.5);width:100vw;height:100vh;position: absolute;top:0;left:0;}   
.form2{ margin: 0 auto; text-align:center; margin-bottom:20px; width:945px; border:20px solid #4fd1a8; background:#fff; margin-top:60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}  
.content-close{ width: 100%; position: relative; height: 30px;}
.btn-close{ background-color: transparent; color:#3d3d3d; font-weight: bold; outline: none; border: none; position: absolute; right: 12px; top:12px; z-index: 999; }
.head-formbox{font-size: 2.8rem; letter-spacing: 1rem; font-weight: 600;}
.content-formbox{width:100%; max-width: 420px; margin: 40px auto; border: solid 1px #979797; padding: 35px 30px;}
.popup-title{font-size: 2rem; font-weight: 600; letter-spacing: 0.2rem;}
.popup-subtitle{font-size: 1.3rem;}
.lima { font-size: 1.4rem; width: 100%; background-color: #4fd1a8; color: #fff; font-weight: bold; margin-top: 16px; padding: 16px; border-radius: 0; letter-spacing: 2px;}
.lima:hover{ color:#fff; }
.emailbox2{ border: 1px solid #979797; width: 100%; padding: 16px 30px; color: #3d3d3d; font-size: 1.3rem; margin-top: 16px;}
.photo{ width:390px;}
.formbox{ width:515px;}






.thankyouheaderbg{background: url(/assets/baxkground-thankyou.png) top center no-repeat; background-attachment:scroll;
-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}                                         

.rightbox{ color:#3d3d3d;} 

.title-thankyou{ font-family: "Roboto", Helvetica, Arial, sans-serif; font-size: 25px; font-weight: bold; text-align: center; letter-spacing: 4px; margin-bottom:20px; }

.subtitle-thankyou{ padding: 0px 25px; font-family: "Roboto", Helvetica, Arial, sans-serif; font-size: 14px; letter-spacing: 1px; line-height: 1.71; text-align: center; margin-bottom: 24px;}

.form{ margin: 0 auto; text-align:center; margin-bottom:20px; padding-top:15px;}     
           
.emailbox{ border:1px solid #B93A0D; width:270px; padding:7px;color:#333333; }                                                                                                     

.share-link{ text-align: center; margin-bottom: 40px; }

.social-share{ text-align: center; }

.social-share a{ text-align: center; width:48px; display: inline-block; }

.input{ font-family: "Roboto", Helvetica, Arial, sans-serif; width:80%; padding:15px 35px; color:#818181; border:0px; background-color:#fff; border-radius: 6px 0px 0px 6px;} 

.btn-copy{ font-family: "Roboto", Helvetica, Arial, sans-serif; width: 20%; padding: 15px 0px; background-color: #4fd1a8; outline: none; border: none; color:#fff; font-weight: bold; letter-spacing: 2px; border-radius: 0px 6px 6px 0px;}                         
                                									 
.steps{ margin: 50px auto; }

.steps-header{ letter-spacing: 4px; color: #3d3d3d; font-size: 25px; font-family: "Roboto", Helvetica, Arial, sans-serif; margin-bottom: 40px; }

.step-title{ font-family: "Roboto", Helvetica, Arial, sans-serif; letter-spacing: 3px; text-align: center; color: #33856b; font-size: 19px; }


.step-content, .step-extra-content{ font-family: "Roboto", Helvetica, Arial, sans-serif; margin: 40px auto; letter-spacing: 1px; line-height: 1.71; }
.topbg{ background:#B28A35; height:40px;color:#fff; text-align:center; padding-top:8px;}                          
.step-content{ margin-top: 20px; }               




img{ border:0px;}
       

.step-img{
    height: auto;
    width: 100%;
    max-width: 53px;
    max-height: 56px;
}
.steps-body .step:not(:last-child):after {
    content: "";
    height: 14px;
    width: 80%;
    margin: 0 auto;
    background-image: url(/assets/arrow-right.svg);
    position: absolute;
    right: -40%;
    top: 25px;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}	   
@media (max-width:991px){
    .thankyouheaderbg{
        background-image: none;
        background-color: rgba(129, 129, 129, 0.1);  
    }
    .steps-body .step:not(:last-child):after{
        display: none;
    }
    .step {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
                align-items: center;
    } 
    .step-body{
        padding-left: 30px;
    }
    .step-title, .step-content{
        text-align: left;
    }
    .step:not(:last-child):before{
        content: "";
        height: 14px;
        width: 70px;
        margin: 0 auto;
        background-image: url(/assets/arrow-right.svg);
        position: absolute;
        left: 7px;
        top: 90%;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        transform: rotate(90deg);
    }
}

.come-inside{
    background-color: rgba(129, 129, 129, 0.1);
    padding: 50px 15px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #3d3d3d;
}
.title-come-inside {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 3.79px;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.subtitle-come-inside {
    font-size: 1.9rem;
    letter-spacing: 2.9px;
    font-weight: bold;
    text-transform: uppercase;
}
.form-come-inside {
    margin-top: 30px;
}
.input.email-come-inside {
    max-width: 360px;
    width: 100%;
    border-radius: 6px;
    padding-left: 16px;
    outline: none;
    color: #818181;
}
.btn.lima.btn-send {
    max-width: 360px;
    border-radius: 6px;
    letter-spacing: 2px;
    text-transform: uppercase;
    outline: none;
    font-size:12px;
}	   
.container-fluid.footer {
    background-color: #4fd1a8;
    padding: 25px 15px;
}
.social-share-footer {
    margin-bottom: 0px;
}
.social-share-footer a {
    text-align: center;
    width: 60px;
    display: inline-block;
}
 